# Node modules
node_modules/

# Expo-specific
.expo/
.expo-shared/

# Environment variables
.env
.env.*

# Build output
build/
dist/
*.apk
*.aab
*.ipa

# Logs and cache
*.log
.cache/
tmp/

# React Native build directories
ios/
android/

# IDE and logs
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS system files
.DS_Store
